### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Count total players
total_players= purchase_data["SN"].nunique()
#Create a DataFrame for total players
player_count = pd.DataFrame({"Total Players": [total_players] })
#Display total players DataFrame
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:

count_items = purchase_data["Item ID"].nunique()
avg_price = purchase_data["Price"].mean()
count_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
summary_df = pd.DataFrame({"Number of Unique Items": [count_items],
                           "Average Price": [avg_price],
                           "Number of Purchases": [count_purchases],
                           "Total Revenue": [total_revenue]})
summary_df.style.format({"Average Price": "${:,.2f}", "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:

gendergrp_df = purchase_data.groupby("Gender")
count_gendergrp = gendergrp_df["SN"].nunique()
percentage_gendergrp = 100 * count_gendergrp/total_players
summary_gendergrp = pd.DataFrame({"Percentage of Players": percentage_gendergrp,
                                  "Total Count": count_gendergrp})
summary_gendergrp.index.name = None
summary_gendergrp = summary_gendergrp.style.format({"Percentage of Players": "{:.2f}"})

summary_gendergrp = summary_gendergrp.sort_values(["Total Count"],ascending=False)

AttributeError: 'Styler' object has no attribute 'sort_values'


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_count_gendergrp = gendergrp_df["Purchase ID"].count()
avg_price_gendergrp = gendergrp_df["Price"].mean()
total_price_gendergrp = gendergrp_df["Price"].sum()
avg_purchase_per_person = total_price_gendergrp/count_gendergrp
purchase_analysis_gendergrp = pd.DataFrame({"Purchase Count": purchase_count_gendergrp, 
                                    "Average Purchase Price": avg_price_gendergrp,
                                    "Average Purchase Value":total_price_gendergrp,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# Provide index in top left as "Gender"
purchase_analysis_gendergrp.index.name = "Gender"

# Format with currency style
purchase_analysis_gendergrp.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
age_bins = [0,9,14,19,24,29,34,39,999]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels = labels)
age_group_df = purchase_data.groupby(["Age Group"])
player_peragegrp = age_group_df["SN"].nunique()
per_peragegrp = 100* player_peragegrp/total_players
summary_agegrp_df = pd.DataFrame({"Percentage of Players": per_peragegrp,
                                  "Total Count": player_peragegrp})
summary_agegrp_df.index.name = None
summary_agegrp_df = summary_agegrp_df.style.format({"Percentage of Players": "{:.2f}"})
summary_agegrp_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchasecount_peragegrp = age_group_df["Purchase ID"].count()
avgprive_peragegrp = age_group_df["Price"].mean()
totalprice_peragegrp = age_group_df["Price"].sum()
avgprice_perperson = totalprice_peragegrp/player_peragegrp
purchase_analysis_agegrp = pd.DataFrame({"Purchase Count": purchasecount_peragegrp,
                                         "Average Purchase Price": avgprive_peragegrp,
                                         "Total Purchase Value": totalprice_peragegrp,
                                         "Average Purchase Total per Person":avgprice_perperson})


purchase_analysis_agegrp = purchase_analysis_agegrp.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})
purchase_analysis_agegrp

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spender_group = purchase_data.groupby("SN")

purchase_count_spender = spender_group["Purchase ID"].count()

avg_purchase_price_spender = spender_group["Price"].mean()

purchase_total_spender = spender_group["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
items_grp = items.groupby(["Item ID", "Item Name"])
purchase_count_item = items_grp["Price"].count()

purchase_value = (items_grp["Price"].sum()) 

item_price = purchase_value/purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

most_popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

most_popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})
most_popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
most_popular_items = most_popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})
most_popular_items =  most_popular_items.sort_values(["Total Purchase Value"],ascending = False)
most_popular_items.head()

AttributeError: 'Styler' object has no attribute 'style'